@font-face {
  font-family: 'ProximaNovaSoft-Regular';
  src: url('../fonts/ProximaNovaSoft-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaSoft-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaSoft-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg'); /* Legacy iOS */

}

@font-face {
  font-family: 'ProximaNovaSoft-Medium';
  src: url('../fonts/ProximaNovaSoft-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaSoft-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaSoft-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaSoft-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaSoft-Medium.svg#ProximaNovaSoft-Medium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ProximaNovaSoft-Semibold';
  src: url('../fonts/ProximaNovaSoft-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaSoft-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaSoft-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaSoft-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaSoft-Semibold.svg#ProximaNovaSoft-Semibold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ProximaNovaSoft-Bold';
  src: url('../fonts/ProximaNovaSoft-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaSoft-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaSoft-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaSoft-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaSoft-Bold.svg#ProximaNovaSoft-Bold') format('svg'); /* Legacy iOS */
}
