.menu-wrapper {
  background-color: @white;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 294px;
}

.menu-header {
  background-image: url('../images/menu-header-bg.png');
  background-repeat: no-repeat;
  background-size: 294px 150px;
  height: 150px;
  padding-left: 40px;
  padding-top: 80px;
}

.profile-picture {
  display: inline-block;
  height: 50px;
  margin-right: 5px;
  vertical-align: middle;
  width: 50px;

  img {
    border-radius: 50%;
  }
}

.profile-name {
  display: inline-block;
  font-family: @fontRegular;
  font-size: 18px;
  color: @white;
  line-height: 100%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  height: 55px;

  a {
    background-position: 40px 11px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    color: @fuchsiaBlue;
    display: block;
    font-family: @fontRegular;
    font-size: 16px;
    height: 55px;
    line-height: 55px;
    margin: 0;
    padding-left: 75px;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: @selago;
    }

    &.dashboard {
      background-image: url('../images/ic-dashboard.svg');
    }

    &.accounts {
      background-image: url('../images/ic-accounts.svg');
    }

    &.cards {
      background-image: url('../images/ic-cards.svg');
    }

    &.payments {
      background-image: url('../images/ic-payments.svg');
    }

    &.transfers {
      background-image: url('../images/ic-transfers.svg');
    }

    &.airtime {
      background-image: url('../images/ic-airtime.svg');
    }

    &.settings {
      background-image: url('../images/ic-settings.svg');
    }
  }
}
