@media screen and (min-resolution: 2dppx) {
  .menu-header {
    background-image: url('../images/menu-header-bg@2x.png');
  }
}

@media screen and (min-resolution: 3dppx) {
  .menu-header {
    background-image: url('../images/menu-header-bg@3x.png');
  }
}

@media screen and (min-width: 780px) {
  .slideout-panel {
    margin-left: 294px;
  }

  .slideout-menu {
    display: block;
  }

  .menu-button {
    display: none;
  }
}
