.overlay {
  background-color: @black;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

html.slideout-open {
  & .overlay {
    display: block;
  }
}

/**
 * Header
 */

.topbar {
  background-color: @royalPurple;
  height: 56px;
  padding: 0 10px;
  position: relative;
  text-align: center;
}

.menu-button {
  background: none;
  border: none;
  color: @white;
  cursor: pointer;
  font-family: @fontRegular;
  font-size: 20px;
  height: 50%;
  width: 30px;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 4px;
}

.topbar-title {
  color: @white;
  font-family: @fontRegular;
  font-size: 20px;
  line-height: 56px;
  margin: 0;
  white-space: nowrap;
}

.middlebar {
  background-color: @studio;
  color: @white;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}

.middlebar-text1 {
  font-family: @fontRegular;
  font-size: 18px;
  line-height: 100%;
}

.middlebar-text2 {
  font-family: @fontSemibold;
  font-size: 32px;
  line-height: 119%;
  margin: 15px 0;
}

.middlebar-text3 {
  font-family: @fontSemibold;
  font-size: 24px;
  line-height: 121%;
  margin-bottom: 10px;
}

.middlebar-bullets {
  background-color: @white;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  opacity: 0.5;
  width: 10px;

  &.enabled {
    opacity: 1;
  }
}

.bottombar {
  background-color: @royalPurple;
  height: 42px;
  padding: 0 10px;
}

.bottombar-title {
  color: @white;
  font-family: @fontMedium;
  font-size: 14px;
  line-height: 42px;
  margin: 0;
  white-space: nowrap;
}

/**
 * Main
 */

.transactions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.transactions-item {
  background-color: @white;
  color: @dustyGray;
  display: flex;
  flex-direction: column;
  height: 65px;
  justify-content: center;
  padding: 0 10px;
}

.transactions-item:nth-child(2n) {
  background-color: @seashell;
}

.transaction-title {
  font-family: @fontSemibold;
  font-size: 16px;
}

.transaction-date {
  font-family: @fontMedium;
  font-size: 14px;
  line-height: 115%;
  opacity: 0.6;
}

.transaction-value {
  font-family: @fontSemibold;
  font-size: 16px;
  text-align: right;

  &.negative {
    color: @cinnabar;
  }

  &.positive {
    color: @montainMeadow;
  }
}

.transaction-description {
  font-family: @fontMedium;
  font-size: 14px;
  line-height: 115%;
  text-align: right;
}
