// Colors
// Used http://chir.ag/projects/name-that-color to give names to RBG colors.

@white: #FFF;
@black: #000;
@royalPurple: #7A439E;
@studio: #9053B4;
@seashell: #F1F1F1;
@montainMeadow: #16967A;
@cinnabar: #E44235;
@dustyGray: #959595;
@fuchsiaBlue: #8D52BA;
@selago: #F7F0FC;

// Fonts

@fontRegular: 'ProximaNovaSoft-Regular', sans-serif;
@fontMedium: 'ProximaNovaSoft-Medium', sans-serif;
@fontSemibold: 'ProximaNovaSoft-Semibold', sans-serif;
@fontBold: 'ProximaNovaSoft-Bold', sans-serif;
